<footer>
  <hr />
  <form
    class="subscribe-form"
    action="https://api.follow.it/subscription-form/eVdEamlDQ21BQnFjb3ZuaXF4MWNSMmlxWHBYNzFmbFhIUFBBSTQxTCtPYmQ5VXpRQk1yYmZVa1dCdGZ0T2dWMFZpT2ljVDc5SmlTR29UMGVtS2NFYVhiV2xKM2g4bUlpajBvN1d1cGxaejBpVUk1UGZWVE9TZ2lXSnBIdFFsb2h8ZVpoY2liTnYvWE9QZVlmbSt3MUJFeFhhbWtWc3NVSEtKQm0wa3JSOHpoTT0=/8"
    method="post"
  >
    Get new posts by email:

    <input type="email" name="email" required="required" placeholder="Enter your email" spellcheck="false" />

    <button data-v-3a89cb67="" type="submit">Subscribe</button>
  </form>
</footer>
