@media screen and (max-width: 768px) {
  html {
    font-size: 18px;
  }

  .layout {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 1rem 0;
  }

  .posts__date {
    width: 100%;
    margin-bottom: 8px;
  }

  .header__nav__item--title {
    margin-right: 25px;
  }
}
