.page-content {
    max-width: 35em;
}

blockquote::before {
    content: attr(title) ":";
    font-weight: bold;
}

body {
    counter-reset: h2;
}

h2.numbered::before {
    counter-increment: h2;
    content: counter(h2) ". ";
}

sidebar.last-modified-at {
    display: block;
    margin-bottom: 1em;
}

/*
.mermaid .edgeLabel {
    padding: .25em .5em;
}
*/
